@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ul.menu li {
    @apply hover:underline;
  }

  ul.menu li:last-child {
    @apply mr-[31px];
  }

  .btn {
    @apply h-[50px] min-w-[167px] rounded-[6px] border-0 bg-[linear-gradient(163deg,#ff8e64,#ffe641)] text-[17px] font-bold leading-[17px] tracking-[1px] text-white transition-transform duration-200 hover:scale-105;
  }

  .social-icon {
    @apply flex h-[40px] w-[40px] items-center justify-center border-[0.5px] border-gray-300;
  }

  .btn-secondary {
    @apply btn;
    background: white;
    color: black;
    min-width: 144px;
    height: 50px;
  }
}
